<launch>
  <arg name="canopen_required" default="true"/>
  <arg name="canopen_respawn" default="false"/>
  <arg name="spawner_timeout_sec" default="60"/>

  <!-- Minimal URDF containing joint node_5 -->
  <param name="robot_description" textfile="$(find yiyou_canopen)/urdf/canopen_single_5.urdf"/>

  <group ns="canopen">
    <rosparam command="load" file="$(find yiyou_canopen)/config/bus_single_5.yaml"/>
    <!-- Also load bus params in the node's private namespace to avoid "Device not set" -->
    <rosparam command="load" file="$(find yiyou_canopen)/config/bus_single_5.yaml" ns="canopen_motor_node"/>
    <rosparam command="load" file="$(find yiyou_canopen)/config/motor_single_5.yaml"/>
    <!-- Ensure switching_state and conversion params are visible to the node private namespace -->
    <rosparam command="load" file="$(find yiyou_canopen)/config/motor_single_5.yaml" ns="canopen_motor_node"/>
    <rosparam command="load" file="$(find yiyou_canopen)/config/controllers_single_5.yaml"/>

    <node name="canopen_motor_node"
          pkg="canopen_motor_node"
          type="canopen_motor_node"
          output="screen"
          respawn="$(arg canopen_respawn)"
          respawn_delay="2"
          required="$(arg canopen_required)">
      <remap from="joint_states" to="/canopen/joint_states"/>
    </node>

    <node name="controller_spawner"
          pkg="controller_manager"
          type="spawner"
          args="--timeout $(arg spawner_timeout_sec) joint_state_controller single_position_controller"/>
  </group>
</launch>
