<launch>
  <arg name="config_file" default="$(find flipper_control)/config/flipper_control.yaml"/>
  <arg name="hybrid_ns" default="/hybrid_motor_hw_node"/>
  <arg name="require_backend_feedback" default="true"/>

  <rosparam file="$(arg config_file)" command="load" ns="flipper_control"/>
  <param name="flipper_control/hybrid_ns" value="$(arg hybrid_ns)"/>
  <param name="flipper_control/require_backend_feedback" value="$(arg require_backend_feedback)"/>

  <node name="flipper_control"
        pkg="flipper_control"
        type="flipper_manager_node"
        output="screen"/>
</launch>
