<launch>
  <arg name="bridge_ns" default="/can_driver_ui_bridge"/>
  <arg name="velocity_value" default="30.0"/>

  <node pkg="can_driver_ui" type="keyboard_ui.py" name="can_driver_keyboard_ui" output="screen">
    <param name="bridge_ns" value="$(arg bridge_ns)"/>
    <param name="velocity_value" value="$(arg velocity_value)"/>
    <rosparam command="load" file="$(find can_driver_ui)/config/motors.yaml"/>
  </node>
</launch>
