<launch>
  <rosparam file="$(find can_driver)/config/can_driver.yaml" command="load"/>
  <rosparam file="$(find can_driver)/config/ros_controllers.yaml" command="load"/>

  <node pkg="can_driver" type="can_driver_node" name="can_driver_node" output="screen">
    <remap from="joint_states" to="can_driver/joint_states"/>
  </node>

  <node pkg="controller_manager" type="spawner" name="controller_spawner"
        args="joint_state_controller pp_arm_controller diff_drive_controller"/>
</launch>
